#contactemaillogo{
    width:50vw;
    transform: translate(-50%,-50%);
    margin-left: 50vw;
    margin-top: 50vh;
}

#clicktoemail{
    position:absolute;
    margin-top: 80vh;
    margin-left: 50vw;
    transform: translate(-50%);
}